version: '3.8'

services:
  n8n:
    image: n8nio/n8n:latest
    environment:
      - N8N_HOST=n8n.autho-n8n.ru
      - N8N_PORT=5678
      - N8N_PROTOCOL=https
      - NODE_ENV=production
      - WEBHOOK_URL=https://n8n.autho-n8n.ru
      - GENERIC_TIMEZONE=Europe/Moscow
      - N8N_ENCRYPTION_KEY=${N8N_ENCRYPTION_KEY:-}
      - N8N_RUNNERS_ENABLED=true
      - N8N_RUNNERS_MODE=external
      - N8N_RUNNERS_AUTH_TOKEN=${N8N_RUNNERS_TOKEN:-changeme12345}
      - N8N_RUNNERS_BROKER_PORT=5679
    volumes:
      - n8n_data:/home/node/.n8n
    ports:
      - 5678
    user: '1000:1000'
    networks:
      - n8n-network
    healthcheck:
      test:
        - CMD-SHELL
        - 'wget --no-verbose --tries=1 --spider http://localhost:5678/healthz || exit 1'
      interval: 5s
      timeout: 5s
      retries: 5

  n8n-runners:
    image: ghcr.io/andkh1976/n8n-python-docker-runners:latest
    environment:
      - N8N_RUNNERS_MODE=external
      - N8N_RUNNERS_AUTH_TOKEN=${N8N_RUNNERS_TOKEN:-changeme12345}
      - N8N_RUNNERS_BROKER_HOST=n8n
      - N8N_RUNNERS_BROKER_PORT=5679
      - N8N_RUNNERS_EXTERNAL_ALLOW=*
      - N8N_RUNNERS_STDLIB_ALLOW=*
    volumes:
      - n8n_data:/home/node/.n8n
    networks:
      - n8n-network

volumes:
  n8n_data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /data/coolify/n8n_data

networks:
  n8n-network:
    driver: bridge
